<?xml version='1.0' encoding='utf-8'?>
<widget id="com.runvnc.ghrun" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>ghrun</name>
    <description>
       Simple Cordova/PhoneGap app that loads code from index.js in the github repo you specify.  Useful for testing and development.
    </description>
    <author email="ithkuil@gmail.com" href="https://github.com/runvnc">
        Jason Livesay
    </author>
    <icon src="res/icon.png"/>
    <content src="index.html" />
    <access origin="*" />
</widget>
